@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colores */
    --body-color: #f3f3f3dd;
    --sidebar-color: #d3d2d2;
    --primary-color: black;
    --primary-color-light: #eae9e9;
    --toggle-color: #fff;
    --text-color: black;
    --button-color: black;
  
    /* Transiciones */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
  }
  
body{
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

body.dark{

    --body-color: #121111;
    --sidebar-color: #242526;
    --primary-color: #fff;
    --primary-color-light: #0d0e0e;
    --toggle-color: black;
    --text-color: #fff;
    --button-color: #adadad;
}



/* sidebar */

.sidebar{
   
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 10px 10px 10px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{

    width: 80px;
}

.sidebar .text {
   
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{

    opacity: 0;
}

.sidebar .image{

    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar li{
    
    height: 60px;
    align-items: center;
    list-style: none;
    display: flex;
    margin-top: 15px;
}

.sidebar li .icon {
   
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);

}
.sidebar header{

    position: relative;
}

.sidebar .image-text img{
    
    width: 50px;
    border-radius: 6px;
}

.sidebar header .image-text{

    display: flex;
    align-items: center; 
}

header .image-text .header-text{

    display: flex;
    flex-direction: column;
}

.header-text .name{
    
    font-weight: 600;   
}

.sidebar header .toggle{

    position: absolute;
    top: 25px;
    right: -20px;
    transform: translateY(-50%) rotate(180deg);
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-color-light);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    
    transform: translateY(-50%);
}

body .dark .sidebar header .toggle{
    
    transform: rotate(180deg);
}

.sidebar .menu{
    margin-top: 35px;
}


.sidebar .search-box{
    
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}


.search-box input{

    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background-color:var(--primary-color-light);
    transition: var(--tran-05);
    color: var(--primary-color);
}
.sidebar li a{

    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{

    background: rgb(28, 28, 28);
}





.sidebar li a:hover .icon, 
.sidebar li a:hover .text{

    color: rgb(255, 255, 255);
}

.sidebar .menu-bar{

    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
   
    position: relative;
    border-radius: 6px;
}

.menu-bar .mode .moon-sun{

    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    
    position: absolute;
    transition: var(--tran-03);
}


.menu-bar .mode i.sun{
   
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
   
    position: absolute;
    right: 0px;
    display: flex;
    height: 100%;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--tran-05);
}

.toggle-switch .switch{
    
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--primary-color);
    transition: var(--tran-05);    
}
    
.switch::before{

    height: 15px;
    width: 15px;
    content: '';
    position: absolute;
    height: 15px;
    border-radius: 50%;
    background:var(--primary-color-light);
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: var(--tran-05);

}

body.dark .switch::before{

    left: 25px;
}

.home{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .perfil{

    font-size: 15px;
    font-weight: 500;
    color:var(--primary-color);
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    margin-top: 16px;
    margin-left: 40px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    padding: 16px 40px;
}



.home .foto {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding: 16px 40px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}

.home .foto .foto-header {

    align-self: stretch; 
    margin-bottom: 20px; 
}

.home .foto .foto-content {
    display: flex;
    align-items: center; 
    padding-right: 40px;
    justify-content: space-between;
    
}

.home .foto .profile-pic-container {
    width: 150px; 
    height: 150px; 
    overflow: hidden;
    border-radius: 10%;
    border: 3px solid var(--primary-color); 
    margin-right: 20px; 
    transition: var(--tran-04);
    
    ;

}

.home .foto .profile-pic-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 10%; 
}

.home .foto .upload-btn {
    
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    padding: 6px;
    margin-left: 20px;
    font-size: 20px;
    
}

.home .info{

    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    background-color:var(--body-color);
    transition: var(--tran-05);
    padding: 16px 40px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    height: 65%;
   
}

.sidebar.close ~ .home {
    left: 80px; 
    width: calc(100% - 80px); 
}

.home .foto {
   
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.home .foto .foto-header {
 
 
    margin-bottom: 16px; 
}

.home .foto .foto-content {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
}

.home .foto .profile-pic-container {
   
    margin-right: 20px;
}

.home .foto .upload-btn {

background-color: var(--primary-color);
font-size: 13px;
font-weight: 300;
padding: 10px 20px;
    
}

.home .info{

    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    background-color:var(--body-color);
    transition: var(--tran-05);
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 16px;
    border-radius: 16px;
    height: 65%;
    
   
}


.info .input-group {
    margin-bottom: 16px;
}

.info .input-group label {
    font-size: 15px;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    
}

.info input[type="text"],
.info select,
.info textarea {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

.info textarea {
    resize: vertical;
}

.info input[type="text"]{

    width: 20%;
}

.info select{

    width: 15%;
}



#guardarCambios {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--tran-03);
}

/*#guardarCambios:hover {
 
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    border-radius: #fff;
    
}

*/


.main-header {
  display: flex;
  justify-content: start;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 20px;
}


.navbar {
    display: flex;
    justify-content: start;
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul {
    list-style-type: none; /* Esto quita los puntos */
    margin-left: 820px;
    margin-top: 20px;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 40px;
    padding: 0; /* Asegúrate de que no haya padding que pueda afectar la presentación */
  }
  
  .nav-item {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: var(--primary-color); /* O el color que prefieras */
    cursor: pointer;
  }
  
  .nav-item.active:after {
    content: '';
    display: block;
    margin: auto;
    height: 4px; /* Ancho del subrayado */
    width: 100%; /* El subrayado ocupa todo el ancho del texto */
    background-color: var(--primary-color); /* Color del subrayado */
    position: absolute;
    bottom: -10px; /* Ajusta la peosición vertical del subrayado */
    left: 0; /* Asegura que el subrayado comience desde el borde izquierdo del texto */
  }

  
/* Ajustes de estilos CSS para Brothers of Adventure input elements */

.publish-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
  }
.publication-info {
    width: calc(60%- 20px);
    padding-left: 20px;
    margin-right: -50px;
    margin-left: 150px;
   

  }
 /* Estilos base para los campos de formulario */
.publication-info .input-group label,
.publication-info .input-title label,
.publication-info .input-place label,
.publication-info .input-date label,
.publication-info .input-description label {
  font-size: 15px;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--primary-color);
}

/* Estilos para los inputs de texto y fecha */
.publication-info .input-group input[type="text"],
.publication-info .input-title input[type="text"],
.publication-info .input-place input[type="text"],
.publication-info .input-date input[type="date"] {
  width: 60%; /* O el ancho que prefieras */
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 1px solid #ccc; /* O el color que desees para el borde */
}

.publication-info .input-date input[type="date"] {

    width: 25%;
}

/* Estilos para textarea */
.publication-info .input-description textarea {
  width: 100%; /* O el ancho que prefieras */
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 1px solid #ccc; /* O el color que desees para el borde */
  resize: vertical;
}

/* Botón de publicación */
.publication-info .btn-publish {
  /* Estilos para tu botón de publicación */
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000; /* O el color que prefieras para el fondo */
  color: #fff; /* O el color que prefieras para el texto */
  cursor: pointer;
}

/* Para la adaptabilidad en dispositivos móviles */
@media screen and (max-width: 600px) {
  .publication-info .input-group input[type="text"],
  .publication-info .input-title input[type="text"],
  .publication-info .input-place input[type="text"],
  .publication-info .input-date input[type="date"],
  .publication-info .input-description textarea {
    width: 100%;
  }
}


.categories {
    margin-bottom: 25px;
    font-weight: 600;
    color: var(--primary-color);
  }
  
  .category-group {
    margin-top: 25px; /* Espaciado entre grupos de categorías */
  }
  
  .category-group:not(:first-child) {
    margin-top: 30px; /* Espaciado adicional entre grupos de categorías */
  } 


/* Estilos para los botones de opciones */
.option-button {
    background-color: #ffffff; /* Color de fondo */
    border: 2px solid #808080; /* Borde */
    padding: 10px 20px; /* Espaciado */
    margin: 5px; /* Margen */
    cursor: pointer; /* Cambia el cursor a una mano */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para cambios de color */
}

.option-button.selected {
    background-color: var(--button-color); /* Color de fondo para el botón seleccionado */
    color: var(--body-color); /* Color de texto para el botón seleccionado */
    border-color: var(--primary-color); /* Color del borde para el botón seleccionado */
    font-weight: 400;
}
.btn-publish {
  padding: 10px 20px;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--body-color);
  border: none;
  cursor: pointer;
}

.content-container {
    display: flex;
    justify-content: space-between;
    
  }
  
  /* Estilos para la sección de carga de imágenes */
  .image-upload-container {
  flex-grow: 1;
  max-width: 40%;
  }
  
  .main-image-upload {
    width: 500px; /* Tamaño del contenedor de imagen principal */
    height: 500px; /* Igual al ancho para hacerlo cuadrado */
    margin-bottom: 20px; /* Espacio entre la imagen principal y las secundarias */
    position: relative;
  }
  
  .secondary-images-container {
    display: flex;
    gap: 20px; /* Espacio entre las imágenes secundarias */
  }
  
  .image-upload {
    width: 153px; /* Tamaño de los contenedores de imágenes secundarias */
    height: 153px; /* Igual al ancho para hacerlos cuadrados */
    position: relative;
  }
  .main-image-label, .secondary-image-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px dashed #000; /* Borde de los contenedores de imágenes */
    cursor: pointer;
    font-size: 60px; /* Tamaño del signo más */
    background-color: #fffdfd; /* Color de fondo de los contenedores */
    overflow: hidden; /* Asegúrate de que las imágenes no se desborden */
}

/* Nuevo estilo para las imágenes de vista previa */
.main-image-label img, .secondary-image-label img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto asegura que la imagen cubra el área y se recorte si es necesario */
    display: block; /* Esto asegura que la imagen reemplace el signo '+' */
}

/* Asegúrate de que el signo '+' desaparezca cuando la imagen esté presente */
.main-image-label img:valid, .secondary-image-label img:valid {
    font-size: 0; /* Elimina el signo '+' cuando hay una imagen */
}