@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --login-bg:#ffffff;
    --title-bg: #1d1d1d;
    --button-bg: rgb(1, 39, 255);
    --light-pink: #0931b6;
    --image-bg:  #dfdfdf ;
  }






/* Estilos de la sección del encabezado */
.big-wrapper {
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
    
    
    
    
  }

/* Estilos del encabezado */
header {
    position: relative;
    z-index: 70;
    
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  .overlay {
    display: none;
  }
  
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo img {
    width: 40px;
    margin-right: 0.6rem;
    margin-top: -0.6rem;
    
  }
  
  .logo h3 {
    color: var(--darkTwo);
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
    
  }
  
  .links ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 2rem; /* Reducción del margen izquierdo */
    
  }
  
  .links a {
    color: var(--lightTwo);
    font-size: 1rem; /* Reducción del tamaño del texto */
    margin-left: 2rem; /* Reducción del espacio entre los enlaces */
    display: inline-block;
    transition: 0.3s;
    
  }
  
  .links a:hover {
    color: var(--hoverColor);
    transform: scale(1.05);
    
  }
  
  .btn {
    display: inline-block;
    padding: 0.7rem 1.5rem; /* Reducción del padding */
    font-size: 0.9rem; /* Reducción del tamaño de la fuente */
    color: #ffffff !important;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-transform: capitalize;
    transition: 0.3s;
    margin-left: 140px;
    background-color: #008dac; 
    

  }
  


  /* Estilos del menú hamburguesa en pantallas pequeñas */
.hamburger-menu {
    position: relative;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
  }
  
  .hamburger-menu .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--darkTwo);
    border-radius: 3px;
    transition: 0.5s;
  }
  
  .bar::before,
  .bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--darkTwo);
    border-radius: 3px;
    transition: 0.5s;
  }
  
  .bar::before {
    transform: translateY(-8px);
  }
  
  .bar::after {
    transform: translateY(8px);
  }
  
  .big-wrapper.active .hamburger-menu .bar {
    background-color: transparent;
  }
  
  .big-wrapper.active .bar::before {
    transform: translateY(0) rotate(-45deg);
  }
  
  .big-wrapper.active .bar::after {
    transform: translateY(0) rotate(45deg);
  }

  /* Estilos para el formulario */
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    padding: 20px;
    border: solid 0.5px rgb(34, 30, 30);
    margin-top: 200px;
    width: 60em;
    margin: 6em auto ;
    border-radius: 10px;
    border: solid 1px black;
    border-radius: 10px;
    overflow: hidden;
    height: 43.75em;
    position: relative;
    transform: translateY(-90px);
   
  }
  
  .formulario {
    width: 45%;
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
    height: 505px;
    
    
  }
  
  .campo {
    margin-bottom: 15px;
    padding: 5px;
    
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
   
    
    
  }

  
  input {
    width: 90%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: solid 2px rgb(17, 17, 17);
    
    
  }

  .login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    margin-left: 150px; /* Ajusta el valor según sea necesario para mover hacia la derecha */
}

.login-button:hover {
    background-color: #2980b9;
}
  

  
  .google-btn:hover, .facebook-btn:hover {
    opacity: 0.8;
  }


.error-message {
    color: red;
    margin-top: 10px;
    
  }

/* Estilos para el modal */
.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 21%;
    height: 20%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
 
    transform: translate(-50%, -50%);
    border-radius: 5px;

    
    
  }
  
  /* Estilos para el contenido del modal */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 300px; /* Ancho máximo del modal */
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px rgb(17, 17, 17);
    width: 700px;
    font-size: 20px;
    
  }
  
  /* Estilos para el botón de cerrar */
 /* Estilos para el botón de cerrar */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border:none;
    
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }

/* Estilos para el contenedor del campo de contraseña */
.password-container {
    position: relative;
    
    
  }
  
  /* Estilos para el ícono del ojo */
  .fa-eye {
    position: absolute;
    right: 30px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    
  }

  .social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    
}

.social-login-element {
    width: 10rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.social-login-element img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
    
}

.social-login-element:hover {
    background-color: #fff;
    
}

.login-info-container > p {
  font-size: 1.25em;
  margin-top: 1.5em;
  
}
.inputs-container {
  height: 55%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}


.span {
  color: var(--light-pink);
  font-weight: 600;
  cursor: pointer;
  
}

.image-container {
  padding: 01rem;
  width: 50%;
  background-color: var(--image-bg);
  box-sizing: border-box;
  max-width: 100%;
  
  height: 720px;
}

@media (max-width: 768px) {
  /* Estilos para pantallas de hasta 768px de ancho */
}

@media (max-width: 480px) {
  /* Estilos para pantallas de hasta 480px de ancho (generalmente para dispositivos móviles) */
}
  

.terminos-condiciones label {
  margin-left: 350px; /* Ajusta el margen izquierdo del label */
  position: relative;
  top: -37px; 
}





